.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f9f9f9;
  color: #333;
  position: relative;
  background-image: url("./images/background-image.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.App::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: repeating-linear-gradient(
      0deg,
      #ddd,
      #ddd 1px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      90deg,
      #ddd,
      #ddd 1px,
      transparent 1px,
      transparent 20px
    );
  z-index: -1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2%;
  border-bottom: 2px solid #000000;
  background-color: rgba(253, 253, 253, 0.8);
  color: white;
}

.header-left {
  display: flex;
  color: #000000;
  align-items: center;
}

.header-left h1 {
  font-size: 24px;
  margin: 0;
}

.header-button-get {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 50px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: #2600ff;
  background-color: #140c8a;
  color: rgb(255, 255, 255);
  border-radius: 60px;
  font-size: 22px;
  font-weight: bold;
}

.header-button-get:hover {
  background-color: #2503b0;
}

.header-button-get:hover #next-image-get {
  content: url("./images/znext.png");
}

.header-button:hover #next-image-get {
  content: url("./images/zbnext.png");
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 50px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 60px;
  font-size: 22px;
  font-weight: bold;
}

.header-button-login {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 5px;
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
}

.header-button:hover {
  background-color: #dde80d;
}

.header-image {
  width: 200px;
  height: auto;
  margin: 0 10px;
  object-fit: cover;
}

.header-image-add {
  width: 35px;
  height: auto;
  object-fit: cover;
}

.header-image-nega {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.header-image-cmp {
  width: 300px;
  height: auto;
  margin: 0 10px;
  object-fit: cover;
}

.header-left-image {
  width: 250px;
  height: auto;
  margin: 0 5px;
  object-fit: cover;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.engagement-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.engagement-text-container h4 {
  position: relative;
  font-size: 1.2em;
  line-height: 1.5;
  color: #000;
}

.slide-text {
  display: inline-block;
  position: relative;
  color: transparent;
  animation:
    slideIn 2s forwards,
    changeColor 2s forwards 2s;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes changeColor {
  0% {
    color: transparent;
  }
  100% {
    color: blue;
  }
}

.icon-left,
.icon-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  flex-grow: 1;
  text-align: center;
  align-items: "center";
  justify-content: "center";
  color: "black";
}

.header-text h2 {
  color: "black";
  font-size: 24px;
}

.section {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 50px auto;
  padding: 40px;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: scaleX(0.95) translateY(50px);
  transition:
    opacity 1s ease-out,
    transform 1s ease-out;
}

.section.animate {
  opacity: 1;
  transform: scaleX(1) translateY(0);
}

.footer {
  background-color: rgba(51, 51, 51, 0.7);
  color: white;
  padding: 20px;
  margin-top: 30px;
}

.footer h2 {
  margin-bottom: 10px;
}

.footer p {
  font-size: 16px;
}

.engagement-text-container {
  position: relative;
  overflow: hidden;
}

.sliding-text {
  display: inline-block;
  height: 20px;
  width: 80px;
  font-weight: bold;
  position: relative;
  color: rgb(0, 21, 255);
  animation: slideText 4s infinite;
}

@keyframes slideText {
  0%,
  100% {
    transform: translateY(0);
    color: rgb(49, 12, 255);
  }
  50% {
    transform: translateY(-100%);
    color: blue;
  }
}

.icon-left,
.icon-right {
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease;
}

.icon-left:hover,
.icon-right:hover {
  transform: scale(0.9) translateX(-10px) translateY(-10px);
  opacity: 0.8;
}

.image-container {
  display: inline-block;
  position: relative;
}

.hover-image {
  width: 400px;
  height: 400px;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;
}

.hover-image:hover {
  transform: scale(1.01);
  filter: brightness(70%);
}

.drawer-toggle-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #0a14d6;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.dashboard-layout {
  margin: 0 auto;
  transform: translateY(100px);
  opacity: 0;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.dashboard-animate {
  transform: translateY(0);
  opacity: 1;
}

.header-image-next {
  width: 45px;
  height: 45px;
  margin-left: 10px;
  transition: transform 0.5s ease;
}

.hover-rotate:hover {
  transform: rotate(360deg);
}

.card-image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 420px;
  width: 100vw;
}

.open .card-image-container,
.open .title-container {
  z-index: 1;
}

.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 990px;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}
